src/main/mule/deleteEmployee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleteEmployeeFlow" doc:id="bf0a991d-c0f8-4c47-8837-e135d182a167" >
		<db:delete doc:name="Delete" doc:id="6f7522aa-ce06-4dbb-88db-0ce149a09c8a" config-ref="Database_Config">
			<db:sql >#[&quot;DELETE FROM  $(vars.tableName) WHERE empId= :empId&quot;]</db:sql>
			<db:input-parameters ><![CDATA[#['empId':attributes.uriParams.EmployeeId]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="20566678-bbd9-4460-a66a-9cb22b02e2ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"employee data deleted succcessfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
