src/main/mule/singleEmployeeData.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="singleEmployeeDataFlow" doc:id="611649c7-65b7-418b-b041-c5185c4c171c" >
		<db:select doc:name="Select" doc:id="162b2fe4-3c0c-4969-9da7-cba1520b69fa" config-ref="Database_Config">
			<db:sql >#[&quot;select * from  $(vars.tableName) where empId= :empId&quot;]</db:sql>
			<db:input-parameters ><![CDATA[#['empId': attributes.queryParams.'EmployeeId']]]></db:input-parameters>
		</db:select>
		<flow-ref doc:name="empIteration" doc:id="30c42cde-0ccb-4568-9695-cd10ccb568fc" name="empIteration"/>
		<ee:transform doc:name="Transform Message" doc:id="27621242-7c71-434e-a9a2-6ae6a06eb1cb" >
			<ee:message >
				<ee:set-payload resource="dwl/invalidIdMessage.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
